{
  "ignorePatterns": [
    "node_modules/*",
    "dist/*"
  ],
  "parserOptions": {
    "ecmaVersion": 2023
  },
  "env": {
    "es2020": true
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "name": "@carbon/react",
        "message": "@carbon should be consumed via vendor/@carbon/react until it is provided by the camunda-modeler-plugin-helpers"
      },
      {
        "name": "@carbon/icons-react",
        "message": "@carbon should be consumed via vendor/@carbon/icons-react until it is provided by the camunda-modeler-plugin-helpers"
      }
    ],
    "import/no-restricted-paths": [
      "error",
      {
        "zones": [
          {
            "target": "./lib",
            "from": [ "default-implementation", "client" ],
            "message": "library functionality should be self-contained"
          },
          {
            "target": "./default-implementation",
            "from": [ "client" ],
            "message": "type implementations should only depend on the library"
          }
        ]
      }
    ]
  },
  "plugins": [
    "eslint-plugin-import"
  ],
  "extends": [
    "plugin:bpmn-io/jsx",
    "plugin:bpmn-io/node",
    "plugin:bpmn-io/browser"
  ]
}
